header {
  max-height: 62px;
  display: flex;
  align-items: center;

  .menu-btn {
    display: inline-block;
    background: $mainOrange;
    padding: 24px;
    max-width: 62px;
    max-height: 62px;
    color: white;


    &:hover {
      cursor: pointer;
    }
  }
  .header-main {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .logo-link {
      display: inline-flex;
      align-items: center;
      width: 124px;
      margin-left: 16px;
    }
    input {
      font-family: $sansSerif;
      color: #666666;
      font-size: 1.2rem;
      font-weight: 500;
      width: 450px;
      border-radius: 4px;
      background-color: #f3f3f3;
      padding: 13px 8px;
      max-height: 34px;
      border: none;
      outline: none;
    }
    .user-links {
      max-width: 300px;
      font-family: $sansSerif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;


      .sign-in,
      .sign-up {
        font-size: 12px;
        color: $mainOrange;
        transition: .3s;
        text-decoration: none;
        font-weight: 700;
        font-weight: 700;

        &:hover {
          color: $darkOrange;
        }
      }
      span {
        color: #e2e2e2;
        font-weight: 800;
        font-size: 0.9rem;
        padding: 0 1px;
      }
      .profile {
        width: 24px;
        height: 24px;
        transition: .3s;
        border-radius: 50%;
        background-color: grey;

        &:hover {
          color: $mainOrange;
        }
      }
      .upload {
        font-size: .75rem;
        font-weight: 700;
        text-decoration: none;
        color: white;
        background-color: $mainOrange;
        padding: 8px 10px;
        transition: .3s;
        border-radius: 20px;

        &:hover {
          background-color: black;
        }
      }
    }
  }
}
