@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap');
@import 'reset';
@import 'variables';

* {
  box-sizing: border-box;
  font-family: $sansSerif;
}

//For overflow
body {
  height: 2200px;
}

@import 'cookies';
@import 'header';
